.header{
  padding-top: 60px; /*fixed解決方法：讓banner下移*/
  h1{
    margin-right: 318px;
  }
}

.header-content{
  position: fixed; /*使用fixed會讓整個區塊飄浮起來,下方東西上移*/
  top:0; /*fixed解決方法：header定住在最上方*/
  width: 100%;
  flex-wrap: wrap;
  background: #fff; 
  padding:8px 12px;
  .closure{
    position: absolute;
    right: 0px;
  }
  .nav {
    display: flex;
    align-items: center;
    line-height: 24px;
    gap: 40px;
    li a{
      display: block;
      padding: 4px 8px;
      position: relative;
    }
  }
}

.menu, .closure {
  padding: 10px; /*用padding置中*/
  display: none;/*先隱藏起來*/
}


@media (max-width:992px){
  .header{
    h1{
      margin-right: 0;
    }
  }
  .header-content{
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .header-content .nav{
    display: none;
  }
  .menu{
    display: block; 
  }
  .header-content .nav {
    flex-wrap: wrap;
    align-content: center;
    margin-top: 50px; 
    li{
      width: 100%;
      text-align: center;
    }
  }
}

// .header-content .show{
//   display: block;
// }
// .close{
//   display: none;
// }



.nav-dec{
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #919191;
  opacity: 0;
}

.top-left{
  top:0;
  left:0;
  border-bottom: none;
  border-right: 0;
}

.top-right{
  top:0;
  right:0;
  border-left: none;
  border-bottom: 0;
}

.bottom-left{
  bottom:0;
  left:0;
  border-top: none;
  border-right: 0;
}
.bottom-right{
  bottom:0;
  right:0;
  border-left: none;
  border-top: 0;
}

@media(max-width:992px){
  .top-left,.bottom-left{
    left: 40%;
  }
  .top-right,.bottom-right{
    right: 40%;
  }
}

.nav a:hover .nav-dec{  /* 碰到.nav a時 顯示nav的下一層.nav-dec*/
  opacity: 1;
}

.opacity-1{
  opacity: 1;
}




@media (max-width:1296px){

}

.banner{
  max-width: 100%;
  background: #FAFAFA;
  height: 500px;
  .title{
    text-align: center;
    font-size: 24px;
    color: #1E1E1E;
    line-height: 32px;
  }
}


