*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

img{
  display: block; /* 解決神秘縫隙 */
  max-width: 100%; /* RWD */
}

a{
  color: #000;
  text-decoration: none;
}

.d-f{
  display: flex;
}

.jc-c{
  justify-content: center;
}

.jc-sb{
  justify-content: space-between;
}

.ai-c{
  align-items: center;
}

.fd-c{
  flex-direction: row;
}


.mr-m {
  margin-right: 16px;
}

.mb-s {
  margin-bottom: 8px;
}

.mb-m {
  margin-bottom: 16px;
}

.mb-l {
  margin-bottom: 24px;
}

.container {
  max-width: 1296px; /* RWD */
  margin: 0 auto; //置中,要先給寬度才能用
}

@media(max-width:1295px){
  .container{
    padding-left: 12px; /*小於1296 才出現padding*/
    padding-right: 12px;
  }
}

@media(max-width:768px){
  .container{
    max-width: 576px; //讓內容物置中
  }
}


// Header

.header{
  padding-top: 60px; /*fixed擋住banner的解決方法：讓banner下移*/
  h1{
    margin-right: 318px;
  }
}

.header-content{
  position: fixed; /*使用fixed會讓整個區塊飄浮起來,下方東西上移*/
  top:0; /*fixed解決方法：header定住在最上方*/
  width: 100%;
  flex-wrap: wrap;
  background: #fff; 
  padding:8px 12px;
  .closure{
    position: absolute;
    padding: 10px;
    right: 10px;
    cursor: pointer;
  }
  .nav {
    display: flex;
    align-items: center;
    line-height: 24px;
    padding: 5px;
    gap: 40px;
    li a{
      display: block;
      padding: 4px 8px;
      position: relative;
    }
  }
}

.menu{
  cursor: pointer;
  padding: 10px; /*用padding置中*/
  display: none;/*先隱藏起來*/
}


@media (max-width:992px){
  .header{
    h1{
      margin-right: 0;
    }
  }
  .header-content{
    justify-content: space-between;
    flex-wrap: nowrap;
    z-index: 1; //防止banner 檔到header上層來
  }
  .header-content ul{
    display: none;
  }
  .menu{
    display: block; 
  }
  .header-content .nav {
    flex-wrap: wrap;
    align-content: center;
    margin-top: 50px; 
    li{
      width: 100%;
      text-align: center;
    }
  }
}



.header-content .show{
  display: block;
}
.close{
  display: none;
}



.nav-dec{
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #919191;
  opacity: 0;
}

.top-left{
  top:0;
  left:0;
  border-bottom: none;
  border-right: 0;
}

.top-right{
  top:0;
  right:0;
  border-left: none;
  border-bottom: 0;
}

.bottom-left{
  bottom:0;
  left:0;
  border-top: none;
  border-right: 0;
}
.bottom-right{
  bottom:0;
  right:0;
  border-left: none;
  border-top: 0;
}

@media(max-width:992px){
  .top-left,.bottom-left{
    left: 40%;
  }
  .top-right,.bottom-right{
    right: 40%;
  }
}

.nav a:hover .nav-dec{  /* 碰到.nav a時 顯示nav的下一層.nav-dec*/
  opacity: 1;
}

.opacity-1{
  opacity: 1;
}



//Banner

.banner{
  max-width: 100%;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0px;
  .banner-title{
    position: relative;
    padding: 60px 70px;
    text-align: center;
    font-size: 24px;
    color: #1E1E1E;
    line-height: 32px;
  }
  .quote-left{
    position: absolute;
    top:0;
    left: 25%;
  }
  .quote-right{
    position: absolute;
    bottom:0;
    right: 25%;
  }
  ul{
    gap:80px;
    padding: 0px 12px;
    li{
      line-height: 24px;
      text-align: center;
    }
    .banner-2B, .banner-2C{
      color: #5B5B5B;
      position: relative;
    }
  }
}

.line{
  position: relative;
  z-index: 0; //讓底線不要遮住字
}

.line-1::after , .line-2::after{
  content: "";
  width: 110%;
  height: 100%;
  position: absolute;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true");
  background-repeat: no-repeat;
  background-position: center bottom; //調整圖片位置
  right: 0;
  z-index: -1; //讓底線不要遮住字
}

.banner-2B::after ,.banner-2C::after{
  position: absolute;
  content:"";
  width: 24px;
  height: 2px;
  background: #C1C1C1;
  margin: 0 auto;
  bottom: -5px;
  left: 45%;
}

@media (max-width:768px) {
  .banner ul{
    flex-direction: column;
  }  
  .banner-2B::after ,.banner-2C::after{
    left: 48%;
  }
  .banner .quote-left{
    left: 45%;
  }
  .banner .quote-right{
    display: none;
  }
  .break{
    display: block;
    margin-bottom: 0;
  }
}


//Works


.card-title {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 8px;
  color: #3B3B3B;
}

.bold{
  font-weight: bold;
}





.works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .work {
    width: calc(50% - 12px); /*間距24px*/
    margin-top: 80px; /*統一設垂直間距*/
    //work裡面都是block,所以不用df-c
    img{
      border-radius: 2%;
    }
  }
}

.text {
  padding: 16px 16px 0;
  p{
    color: #919191;
  }
  .tags {
    margin-top: 24px;
    display: flex;
    justify-content: flex-start;
    li {
      padding: 4px 12px;
      border-radius: 16px;
      background: #f1f1f1;
      color: #3B3B3B;
    }
  }
}

@media(max-width:768px){
  .works .work{
    width: 100%;
  }
}

// 作品頁碼

.numbers{
  display: flex;
  justify-content: center;
  margin: 72px 0px 120px 0px;
  gap:16px;
  a{
    display: block;
    padding: 2px 13px;
    font-size: 24px;
    line-height: 36px;
    border-radius: 10px;
    &:hover{
      color:#fff;
      background:#1E1E1E;
    }
  }
}

// footer

.footer{
  padding: 80px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-contact{
  font-size: 20px;
  color:#3B3B3B;
  line-height: 30px;
}

.footer-email{
  line-height: 24px;
  color: #919191;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  li{
    background: #FFF;
    border-radius: 10px;
    a{
      display: flex;
      align-items: center;
      width: 300px;
      img{
        padding-left: 16px;
      }
    }
    & a:hover{
      background: #000;
      color: #FFF;
    }
    .social-active{
      background: #000;
      color: #FFF;
    }
  }
}



@media(max-width:767px){
  .footer{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true");
  }
  .footer-content{
    flex-direction: column;
    align-items: center;
    gap:40px;
  }
  .footer-email{
    text-align: center;
  }
  .footer-contact img{
    margin: 24px auto;
  }
}